
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rammetto+One&display=swap');




*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


a{
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    
}

h1{
    font-family: "Rammetto One", sans-serif;
    font-size: 80px;
    
}

h2{
    font-family: "Rammetto One", sans-serif;
    font-size: 40px;
}

h3{
    font-family: "Rammetto One", sans-serif;
    font-size: 20px;
}

p{
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
}


/* ------------------------------
             TYPO
---------------------------------*/

.rammetto-one-regular {
  font-family: "Rammetto One", sans-serif;
  font-weight: 400;
  font-style: normal;
}




/* ------------------------------
         PALETTE DE COULEUR
---------------------------------*/

.pomme{
    color: #DEF5C6;
}

.vert{
    color: #125D3F;
}

/* ------------------------------
            FLEXBOX
 ---------------------------------*/

.flex {
    display: flex;
    flex-wrap: wrap;
}

.space-between{
    justify-content: space-between;
}

.space-around{
    justify-content: space-around;
}

.space-evenly{
    justify-content: space-evenly;
}

.align-center{
    align-items: center;
}

.justify-center{
    justify-content: center;
}

.justify-start{
    justify-content: flex-start;
}

.row{
    flex-direction: row;
}

.row-reverse{
    flex-direction: row-reverse;
}

.column{
    flex-direction: column;
}

.gap-8{
    gap: 8px;
}

.gap-16{
    gap: 16px;
}

.gap-32{
    gap: 32px;
}

.gap-64{
    gap: 64px;
}

/* ------------------------------
         MARGIN & PADDING 
 ---------------------------------*/

 /* Margin */

.mt-16 {
    margin-top: 16px;
}

.mb-16{
    margin-bottom: 16px;
}

.mt-32{
    margin-top: 32px;
}

.mb-32{
    margin-bottom: 32px;
}

.mt-64{
    margin-top: 64px;
}

.mb-64{
    margin-bottom: 64px;
}

.mt-128{
    margin-top: 128px;
}

.mb-128{
    margin-bottom: 128px;
}

/* padding */


.pb-16{
    padding-bottom: 16px;
}

.pt-16{
    padding-top: 16px;
}

.pb-32{
    padding-bottom: 16px;
}

.pt-32{
    padding-top: 32px;
}

.pt-64{
    padding-top: 64px;
}

.pb-64{
    padding-bottom: 64px;
}

.pb-32{
    padding-bottom: 32px;
}

.pt-128{
    padding-top: 128px;
}

.pb-128{
    padding-bottom: 128px;
}


/* ------------------------------
            CONTAINER
---------------------------------*/

.container-1000{
    max-width: 1000px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}

/* ------------------------------
            BACKGROUND
 ---------------------------------*/

.background-pomme{
    background-color: #DEF5C6;
    background-size: cover;
    background-repeat: no-repeat;
}

/* ------------------------------
            BOUTON
---------------------------------*/

.bouton-vert{
    background-color: #125D3F;
    border-radius: 200px;
    padding: 10px 20px;
    color: #DEF5C6;
}


/* ------------------------------
            LARGEURS
 ---------------------------------*/



.w-50{
    width: 50px;
}
